@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

*:focus-visible {
    outline: 2px solid blue;
    outline-offset: 2px;
}

body,
a,
button {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 1.2rem;
    font-weight: 800;
}

h3 {
    font-size: 2.2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.8rem;
    font-weight: 600;
}

h5 {
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
}



/************** Top bar **************/
.topbar {
    background-color: #dddddd;
    text-align: center;
    padding: 9px 0;
    font-size: 0.9rem;
}


/************** Header **************/
.header_wrapper {
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.index_banner {
    background-image: url(../img/index_banner.webp);
}

.feature_banner {
    background-image: url(../img/feature_banner.webp);
}

.buypage_banner {
    background-image: url(../img/buypage_banner.webp);
}


/* Menu */
.menu_wrapper {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffffd5;
    justify-content: space-around;

}

.logo {
    display: flex;
    height: auto;
}

.logo img {
    height: 2rem;
}

nav {
    display: flex;
}

nav ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex: 1;
}

nav ol li {
    margin: 0 1rem;
    font-size: 1rem;

}

nav ol li a {
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    color: #141414;
}

nav ol li a:hover {
    background-color: #141414;
    color: #ffffff;
    transition: 0.4s ease-in-out;

}

.current_page {
    background-color: #141414;
    color: #ffffff;
    margin: 0;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    text-decoration: none;
}

.btn_buy {
    margin-right: 4rem !important;
}

button {
    font-size: 1rem;
    /* margin: 1.4rem 5rem; */
    padding: 0.5rem 2rem;
    border-radius: 999px;
    border: 0px;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
    background-color: #141414;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    color: #ffffff;
    background-color: rgb(56, 0, 119);
}


/* Hero Text */

.herotext {
    padding-right: 1rem;
    text-align: right;
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #141414;
}


.herotext_tagline {
    padding: 1rem;
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 1rem;

}

.hero_tagline_special {
    font-style: italic;
}

.herotext button {
    width: 200px;
    border: 0px;
    display: inline-block;
    padding: 0.8rem 2rem;
    color: #ececec;
    background-color: rgb(69, 35, 105);
    text-align: center;
    margin: 0.4rem 0;
    cursor: pointer;
}

.herotext button:hover {
    background-color: #141414;
    color: #ffffff;
}



/************** Hero Product **************/
/************** Sketch Community **************/
.hero_product_wrapper,
.community_wrapper {
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.community_head,
.hero_product_head {
    width: 40%;
    margin: 1rem 0rem 1rem 8rem;
    padding: 1rem;
}

.hero_product_head button {
    width: 300px;
    margin-bottom: 4rem;
}

.community_head button {
    width: 200px;
    margin-bottom: 4rem;
}

.hero_product,
.community {
    margin-right: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 0.4rem;

}

.hero_product h5,
.community h5 {
    margin: 0.2rem auto;
}

.hero_product h6,
.community h6 {
    margin: 0.2rem auto;
}

.hero_product button,
.community button {
    margin: 1rem 0;
}

.hero_product div {
    height: auto;
    padding: 0.3rem;
    margin: 5rem 0.2rem;
    border: 1px solid #CCC;
    background-color: #e7e7e7;
    border-radius: 8px;
    /* padding: 1rem; */
}


.community div {
    height: auto;
    margin: 5rem 0.2rem;
    /* padding: 1rem; */
}


.hero_product img,
.community img {
    width: 100%;
    cursor: pointer;
}



/************** Customer Reviews **************/
.cs_review_wrapper {
    width: 86%;
    background-color: #ffffff;
    margin: auto;
}

.cs_review_wrapper h3 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.cs_review {
    margin: 0 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 1rem;
}

.cs_review div {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem #333333;
    border: 1px solid #ddd;
    height: auto;
    padding: 1.4rem;
    margin: 1rem;
}

.cs_review h6 {
    margin: 0.8rem auto;
}

.cs_review p {
    margin: 0.8rem auto;
    font-weight: 700;
}

.cs_review img {
    align-content: center;
}

.cs_profile {
    border-radius: 50%;
    width: 30%;
}



/**************************************/
/*************  Buy Page  *************/
/**************************************/
.btn_ship {
    width: 280px !important;
}

.buy_product_wrapper {
    width: 100%;
}

.buy_product {
    width: 86%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 3rem auto;
}

.buy_product img {
    width: 100%;
}

.buy_product h6 {
    margin: 1.6rem 0;
}

.buy_product div {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem #333333;
    border: 1px solid #ddd;
    height: auto;
    flex: 4;
    float: left;
    margin: 1rem;
    padding: 1rem;
}

.price {
    font-size: 1rem;
    font-weight: 600;
}

.buy_product div button {
    margin: 0;
    width: 100%;
}

/* Buy option */

#quantity {
    width: 8rem;
    padding: 0.2rem;
    font-size: 1rem;
    margin: 0.2rem;
}

#pencil_color {
    width: 10rem;
    padding: 0.2rem;
    font-size: 1rem;
    margin: 0.4rem;
}



/**************************************/
/***********  Feature Page  ***********/
/**************************************/

.btn_feature {
    width: 300px !important;
}

.personalized_wrapper {
    width: 100%;
}

.personalized_step {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 3rem 8rem;
}

.personalized_step div {
    flex: 5;
    margin: 1rem;
    text-align: center;
}

.personalized_step img {
    width: 240px;
}

.personalized_step h5,
h6 {
    margin: 0;
}

.arrow {
    width: 80px;
    margin: 0;
    padding: 0;
}

.arrow img {
    align-content: center;
    width: 80px;
}


.description {
    width: 100%;
    align-content: flex-start;
    height: 100%;
}

.description_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    float: left;
}

.des_bg_1 {
    background-image: url(../img/wood.jpg);
    background-size: cover;
    background-position: center;
}

.des_bg_2 {
    background-image: url(../img/grass.jpg);
    background-size: cover;
    background-position: center;
}

.des_bg_3 {
    background-image: url(../img/makingof.jpg);
    background-size: cover;
    background-position: center;
}


.left_col {
    width: 60%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.left_col img {
    width: 100%;
}


.bg_color_1 {
    background-color: rgb(255, 236, 211);
}

.bg_color_2 {
    background-color: #cecece;
}

.bg_color_3 {
    background-color: #ffffea;
}


.right_col {
    width: 40%;
    height: auto;
    margin: 6rem 6rem;
}

.qouta {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    margin: auto;
}

.qouta button {
    margin: auto;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    width: 360px;
}

/************** Footer **************/

.footer_wrapper {
    width: 100%;
    background-color: #2b2b2b;
    padding: 1rem 0 0 0;
    margin: auto;
}

.footer {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: flex-start;
}

.footer div {
    border: 0px solid #fff;
    height: auto;
    margin: 2rem 0.2rem;
    padding: 1rem;
}


.footer h2 {
    margin-bottom: 1rem;
    font-weight: 300;
    color: #ffffff;
}

.footer ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ol li {
    color: #ffffff;
    font-weight: 300;
    line-height: 1.6rem;
}

.footer ol li a {
    color: #ffffff;
    text-decoration: none;
}

.footer ol li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/************** Newsletter Email Sign Up **************/

.newsletter p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
}



.newsletter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.newsletter-form input {
    width: 200px;
}

.email {
    padding: 0;
    margin: 0;
}

.newsletter label {
    color: #fff;
}

.newsletter-form button {
    width: 200px;
    padding: 1rem;
    margin-left: 1rem;
}


#email {
    width: 14rem;
    padding: 0.8rem;
    background-color: #2b2b2b;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#signup {
    padding: 0.8rem;
}

input::placeholder {
    font-size: 0.8rem;
    color: #ffffff;
}


/************** Footer Copyright **************/
.footer_copyright {
    background-color: #2b2b2b;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    font-size: 0.8rem;
    padding: 2rem 0;
    margin: 2rem 0 0 0;
}



/*** Tablet styles here ***/
@media (min-width: 768px) and (max-width: 1023px) {
    .menu_wrapper {
        width: 100%;
        height: 80px;
        justify-content: space-between;
        margin: 0 auto;
    }

    .logo {
        margin-left: 2rem;
    }

    button {
        width: 140px;
        margin: 1rem 2rem 1rem auto;
        padding: 0.6rem 2rem;
    }

    nav {
        display: none;
    }

    .herotext {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 0%;
        transform: translate(0%, -50%);
        margin: auto 4rem;
    }

    .herotext h1 {
        background-color: #f0f0f0;
        opacity: 0.8;
    }

    .herotext_tagline {
        padding: 1rem;
        background-color: #f0f0f0;
        opacity: 0.8;
        font-size: 1.1rem;
        color: #333333;
        margin-bottom: 2rem;
    }



    /**************************************/
    /*************  Buy Page  *************/
    /**************************************/

    .buy_product {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 3rem auto;
    }
}


/*** Mobile styles here ***/
@media (max-width: 767px) {
    .menu_wrapper {
        width: 100%;
        height: 60px;
        justify-content: space-between;
        margin: 0 auto;

    }

    .logo {
        margin-left: 2rem;
    }

    button {
        width: 140px;
        margin: 1rem 2rem 1rem auto;
        padding: 0.6rem 2rem;
    }

    nav {
        display: none;
    }

    .herotext {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 0%;
        transform: translate(0%, -50%);
        margin: auto 2rem;
    }

    .herotext_tagline {
        padding: 1rem;
        background-color: #f0f0f0;
        opacity: 0.8;
        font-size: 1.1rem;
        color: #333333;
        margin-bottom: 2rem;
    }

    .herotext h1 {
        background-color: #f0f0f0;
        opacity: 0.8;
    }

    .herotext button {
        width: 180px;
    }

    .community,
    .hero_product {
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10%;
    }

    .community div,
    .hero_product div {
        flex: 1;
        margin: 1rem 0rem;
        padding: 1rem;
    }

    .hero_product_wrapper,
    .community_wrapper {
        flex-direction: column;
    }

    .community_head,
    .hero_product_head {
        width: 80%;
        margin: 2rem auto;
        padding: 0rem;
    }

    .community,
    .hero_product {
        width: 86%;
        margin: 2rem auto;
        grid-template-columns: 1fr 1fr;
        gap: 0.2rem;
    }

    .cs_review_wrapper {
        width: 80%;
        margin: auto;
    }

    .cs_review {
        margin: 4rem auto;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-items: center;
    }

    .cs_review div {
        flex: 1;
        margin: auto;
        padding: 1rem;
    }

    .footer {
        width: 86%;
        grid-template-columns: 1fr 1fr;
    }

    .footer div {
        border: 0px solid #fff;
        height: auto;
        margin: 1rem 0.2rem;
        padding: 1rem;
    }

    .newsletter {
        grid-column: 1 / span 2;
    }

    /**************************************/
    /*************  Buy Page  *************/
    /**************************************/


    .buy_product {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 3rem auto;
    }


    /**************************************/
    /***********  Feature Page  ***********/
    /**************************************/

    .personalized_step {
        grid-template-columns: 1fr;
    }

    .arrow {
        display: none;
    }

    .right_col {
        width: 90%;
        margin: 2rem;
    }

    .qouta button {
        width: 80%;
        font-size: 1.2rem;
    }
}